
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #102b10;
    color: #fff;
  }
  nav {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    user-select: none;
  }
  canvas {
    position: absolute;
    width: 100% !important;
    height: auto !important;
    pointer-events: none;
}
  .disable-document {
    user-select: none;
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    overflow: hidden;
  }
  
  .disable-document::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(135deg, rgba(52, 152, 219, 0.1), rgba(155, 89, 182, 0.1));
  }
  
  .hidden {
    display: none;
  }
  #lossParticles {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: opacity 1s ease;
  }
  #breakEven {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: opacity 1s ease;

  }
  
  #loseMessage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    color: red;
    font-weight: bold;
    opacity: 0;
    transition: font-size 2.5s, opacity 2.5s;
    z-index: 1;
  }
  #loseMessage.show {
    opacity: 1;
    font-size: 3rem;
  }
  #winMessage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    color: rgb(26, 255, 0);
    font-weight: bold;
    opacity: 0;
    transition: font-size 2.5s, opacity 2.5s;
    z-index: 1;
  }
  
  #winMessage.show {
    opacity: 1;
    font-size: 3rem;
  }
  #breakEvenMessage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
    font-weight: bold;
    opacity: 0;
    transition: font-size 2.5s, opacity 2.5s;
    z-index: 1;
  }
  
  #breakEvenMessage.show {
    opacity: 1;
    font-size: 3rem;
  }
  #account {
    width: 150px;
    margin-left: 15px;
  }
  .board-text {
    text-align: center;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(134, 214, 138);
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.327), 2px 2px 1px 1px rgba(0, 0, 0, 0.37);
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    flex-shrink: 0; /* Prevent shrinking */
    cursor: default;
  }
  #wallet-status-container {
    width: 119px;
    height: 25px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 600px;
    background-color: rgba(0, 0, 0, 0.2);
    margin-left: 15px;
  }
  #wallet-status-container:hover {
    width: auto;
  }
  #log-status-indicator {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: linear-gradient(145deg, #ff5f5f, #d9534f);
    color: white;
    font-size: 20px;
    margin-right: 5px;
  }
    /* Adding a smooth shadow effect for a more professional feel */
    #log-status-indicator::after {
      border-radius: 50%;
      box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.2), inset -2px -2px 4px rgba(255, 255, 255, 0.2);
      transition: box-shadow 0.45s ease;
    }
    #wallet-address {
      font-size: 12px;
      letter-spacing: 2px;
      color: #ffffffb7;
      font-family: Arial, sans-serif;
      text-align: left;
      cursor: default;
      overflow: hidden;
      white-space: nowrap;
      user-select: all;
    }
.nav-button {
  background: linear-gradient(135deg, #0c6b0c, #009900);
  color: white;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-family: 'Times New Roman', Times, serif;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
  cursor: pointer;
  user-select: none;
  

}
.nav-button:hover {
  animation: pulse-two .93s;
}
#account-button,
#deposit-button {
  display: none;
}
#connect-wallet-button {
  margin-right: 550px;
}
#connect-wallet-button:hover {
  animation: pulse-two .93s;
  }
  .winning-number {
    list-style: none;
    margin-right: 15px;
  }
  #roll-indicator {
    margin: 0;
    border-bottom: none;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.356), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.356));
    transition: background-color 0.25s ease;
    border-radius:20px 20px 0 0;
    width: 95%; /* Adjust width as needed */
    height: 24px; /* Adjust height to match carousel-number */
    position: relative; /* Ensure z-index works */
    box-shadow: none;
  }
  #roll-indicator.logged-in {
    font-size: 1.5rem;
    font-family: fantasy;
    background: none !important;
    color: gold;
    animation: logged-in 1s infinite;
    transition: color 1s ease;
  }
  @keyframes logged-in {
    0% {
      color:rgba(72, 255, 0, 0.5);
    }
    25% {
      color: rgba(72, 255, 0, 0.75);
    }
    50% {
      color: rgba(72, 255, 0, 1);
    }
    75% {
      color: rgba(72, 255, 0, 0.75);
    }
    100% {
      color: rgba(72, 255, 0, 0.5);
    }
  }
  #roll-indicator.active {
    background-color: rgb(255, 255, 255);
    animation: blink 0.5s ease infinite;
  }
  #roll-indicator.rolling {
  animation: rolling 1s infinite;
  }
  .carousel-container {
    width: 50px; /* Adjust width as needed */
    height: 50px; /* Adjust height as needed */
    overflow: hidden;
    border: 1px solid #cccccc3c; /* Example border */
    background: linear-gradient(to right, rgba(255, 255, 255, 0.356), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.356));
    color: rgba(0, 0, 0, 0.647);
    border-radius: 0 0 50px 50px;
  }
  
  .carousel {
    display: flex;
    flex-direction: column;
    transition: transform 2s ease; /* Example transition duration */
    transform: translateY(0); /* Initial transform to position first number */
  }
  
  .carousel-number {
    width: 100%;
    height: 50px; /* Adjust height as needed */
    line-height: 50px; /* Center vertically */
    text-align: center;
    font-size: 3rem; /* Adjust font size as needed */
    border-bottom: 5px solid rgba(72, 255, 0, 0.665); /* Example border */
  }

  #winningNumber {
    position: absolute;
    right: 50%;
    border: 1px solid rgba(16, 101, 48, 0.359);
    margin-top: 15px;
    width: 250px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #81f5815b, rgba(34, 204, 0, 0.5), rgba(124, 247, 140, 0.356));
  }
  #stats-container {
    padding-top: 15px;
    padding-right: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap; /* Enable wrapping */
    gap: 20px; /* Space between balance and round */
  }
  
  .stat-item {
    text-align: center;
    min-width: 100px; /* Adjust width to ensure proper wrapping */
    flex: 1; /* Ensure items take available space */
  }
  .stat-item:last-child {
    display: flex; /* Make the last item a flex container */
    flex-direction: column; /* Stack items vertically */
    justify-content: center; /* Center items vertically */
    align-items: center; /* Center items horizontally */
    text-align: center; /* Center text inside */
    flex-basis: 100%; /* Force the last item to take a new row */
  }
  
  
  .stat-item p {
    margin: 0;
    margin-top: 15px;
  }




  

  .board-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 50px;
    border: 5px solid black;
    width: auto;
    height: auto;
    user-select: none;
    padding: 10px;
    background:
      linear-gradient(rgba(0, 77, 0, 0.85),rgba(0, 77, 0, 0.85)),
      green url(./betting-board.jpg) center/cover no-repeat;
  }
  
  .betting-board {
    width: 200px;
    height: 200px;
    border: 1px dotted transparent;
    background: rgba(112, 172, 112, 0.2);
    border-radius: none;
    margin: 8px;
    padding: 30px;
    position: relative;
    transition: box-shadow 0.3s;
    text-align: center;
    font-size: 1.5em;
    cursor: default;
  }
  .betting-board.active {
    animation: winner .1s infinite;
  }
  
  @keyframes drop {
    0% {
      bottom: -20px;
      opacity: 1;
      transform: translateY(-40%) scale(0.95);
    }
    40% {
      opacity: 1;
      transform: translateY(-44%) scale(1);
    }
    80% {
      opacity: 1;
      transform: translateY(-48%) scale(0.95);
    }
    100% {
      bottom: 0;
      opacity: 1;
      transform: translateY(-50%) scale(1);
    }
  }
  @keyframes rotate-0 {
    0% {
      transform: translateY(-50%) scale(1) rotate(0deg);
    }
    100% {
      transform: translateY(-50%) scale(1) rotate(0deg);
    }
  }
  
  @keyframes rotate-45 {
    0% {
      transform: translateY(-50%) scale(1) rotate(0deg);
    }
    100% {
      transform: translateY(-50%) scale(1) rotate(15deg);
    }
  }
  
  @keyframes rotate-90 {
    0% {
      transform: translateY(-50%) scale(1) rotate(0deg);
    }
    100% {
      transform: translateY(-50%) scale(1) rotate(30deg);
    }
  }
  
  .chips-container {
    width: 50%;
    display: flex;
    flex-direction: row;
    border: 5px solid rgba(100, 100, 100, 0.85);
    padding: 10px;
    border-radius: 9%;
    background: 
      linear-gradient(rgba(129, 129, 129, 0.73), rgba(171, 171, 171, 0.73)); /* Semi-transparent overlay */
    box-shadow: inset 5px 5px 5px 5px rgba(0, 0, 0, 0.274);
  }
  
  .chip-stack {
    display: block;
    padding-left: 4rem;
    padding-top: .85rem;
    width: 25%; /* Each stack takes up 25% of the container */
    height: 125px;
    box-sizing: border-box;
    overflow: hidden;
  }
  
  
  .chip {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #0b4b45; /* Dark teal background */
    border: 4px solid rgba(255, 255, 255, 1); /* Light border */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px; /* Larger font size */
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #fff;
    text-align: center;
    cursor: pointer; /* Reverting to pointer cursor */
    transition: transform 0.2s ease-in-out;
  }
  .chip:hover {
    transform: scale(1.1); /* Slightly increase size on hover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  }
  .l-axis {
    position: absolute;
    width: 4.5px;
    height: 10px;
    left: -5px;
    border: 1px solid rgba(199, 234, 2, 0.35);
    background-color: rgb(15, 15, 15);
    border-radius: 1px 50% 50% 1px;
  }
  .r-axis {
    position: absolute;
    width: 4.5px;
    height: 10px;
    right: -5px;
    border: 1px solid rgba(199, 234, 2, 0.35);
    background-color: rgb(15, 15, 15);
    border-radius: 50% 1px 1px 50%;
  }
  .t-axis {
    position: absolute;
    width: 10px;
    height: 4.5px;
    top: -5px;
    border: 1px solid rgba(199, 234, 2, 0.35);
    background-color: rgb(15, 15, 15);
    border-radius: 1px 1px 50% 50%;
  }
  .b-axis {
    position: absolute;
    width: 10px;
    height: 4.5px;
    bottom: -5px;
    border: 1px solid rgba(199, 234, 2, 0.35);
    background-color: rgb(15, 15, 15);
    border-radius: 50% 50% 1px 1px;
  }
  .l-axis.tenth {
    background-color: rgb(129, 63, 74);
    border: .5px solid rgb(170, 131, 131);
  }
  .r-axis.tenth {
    background-color: rgb(129, 63, 74);
    border: .5px solid rgb(170, 131, 131);
  }
  .t-axis.tenth {
    background-color: rgb(129, 63, 74);
    border: .5px solid rgb(170, 131, 131);
  }
  .b-axis.tenth {
    background-color: rgb(129, 63, 74);
    border: .5px solid rgb(170, 131, 131);
  }
  .l-axis.twentyFifth {
    background-color: rgb(27, 103, 97);
    border: .5px solid rgb(131, 170, 167);
  }
  .r-axis.twentyFifth {
    background-color: rgb(27, 103, 97);
    border: .5px solid rgb(131, 170, 167);
  }
  .t-axis.twentyFifth {
    background-color: rgb(27, 103, 97);
    border: .5px solid rgb(131, 170, 167);
  }
  .b-axis.twentyFifth {
    background-color: rgb(27, 103, 97);
    border: .5px solid rgb(131, 170, 167);
  }
  .l-axis.fiftieth {
    background-color: rgb(22, 86, 39);
    border: .5px solid rgb(132, 170, 131);
  }
  .r-axis.fiftieth {
    background-color: rgb(22, 86, 39);
    border: .5px solid rgb(132, 170, 131);
  }
  .t-axis.fiftieth {
    background-color: rgb(22, 86, 39);
    border: .5px solid rgb(132, 170, 131);
  }
  .b-axis.fiftieth {
    background-color: rgb(22, 86, 39);
    border: .5px solid rgb(132, 170, 131);
  }
  .l-axis.one {
    background-color: rgb(70, 39, 0);
    border: 1px solid rgb(215, 162, 102);
  }
  .r-axis.one {
    background-color: rgb(70, 39, 0);
    border: 1px solid rgb(215, 162, 102);
  }
  .t-axis.one {
    background-color: rgb(70, 39, 0);
    border: 1px solid rgb(215, 162, 102);
  }
  .b-axis.one {
    background-color: rgb(70, 39, 0);
    border: 1px solid rgb(215, 162, 102);
  }
  .chip.disabled {
    opacity: 0.1; /* Example: reduce opacity for disabled chips */
    pointer-events: none; /* Prevent interactions with disabled chips */
    /* Add any additional styling for disabled chips */
  }
  .hovered {
    border: 1px dotted rgba(255, 217, 0, 0.5);
  }
  .chip .center-circle {
    width: 40px;
    height: 40px;
    background-color: #fff; /* White center circle */
    background-image: url('./polygon.chip.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; /* or */
    border-radius: 50%;
    border: 3px solid rgba(125, 0, 183, 0.356); /* Teal border */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0b4b45; /* Dark teal text color */
    font-weight: bold;
    font-size: 24px;
    position: relative;
    z-index: 2;
  }
  .chip.dragging {  
    opacity: .01;

  }
  .center-circle::before {
      content: ''; /* Required for pseudo-elements */
      position: absolute;
      border-radius: 50%;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(to top left,rgba(251, 255, 0, 0.2),rgba(255, 255, 255, 0.1) );
  }
  .chip .center-circle.value {
    position: absolute;
    display: none;
  }
  .chip:hover .center-circle.value {
    display: flex;
    font-size: 17px;
    background-color: rgb(255, 255, 255);
    background-image: none;
  }

  .red::before, .black::before {
    transition: background 2s ease, transform 2s ease;
    content: attr(data-value);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-family: monospace;
    font-weight: 700;
  }
  .waiting::before{
    content: attr(data-value);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-family: Helvetica, sans-serif;
    background: rgba(255, 255, 255, 0.393);
  }
  
  .red::before {
    background: linear-gradient(to bottom right, rgba(255, 75, 75, 0.9) 10%, rgba(255, 0, 0, 0.85) 90%);
    box-shadow: 1px 1px rgba(0, 0, 0, 0.5);
  }
  
  .black::before {
    background: linear-gradient(to bottom right, rgba(75, 75, 75, 0.99) 10%, rgba(0, 0, 0, 0.99) 90%);
    box-shadow: 1px 1px rgba(0, 0, 0, 0.5);
  }
  
  
  .active {
    display: block !important;
  }
  #place-bet-button {
    position: absolute;
    right: 15px;
    bottom: 30px;
  }
  
  .board-value {
    height: 15px;
    width: auto;
    padding: 15px;
    font-weight: 700;
    color: rgb(255, 255, 0);
    font-family: monospace;
    font-size: 1rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.327), 2px 2px 1px 1px rgba(0, 0, 0, 0.37);
  }
  
  
  .broke {
    animation: pulse 1.9s infinite linear;
    animation-fill-mode: forwards;
  }
  .logged-in {
    background: linear-gradient(145deg, #b8ff80, #98e664) !important;
  }
  @keyframes increase {
    0% {
      color: rgb(255, 255, 0);
    }
    25% {
      color: rgb(100, 255, 0);
      text-shadow: 10px 10px 20px rgba(100, 255, 0, .15);
    }
    50% {
      color: rgb(0, 255, 0);
      text-shadow: 10px 10px 20px rgba(100, 255, 0, .1);
    }
    75% {
      color: rgb(100, 255, 0);
      text-shadow: 10px 10px 20px rgba(100, 255, 0, .05);
    }
    100% {
      color: rgb(255, 255, 0);
    }
  }
  @keyframes decrease {
    0% {
      color: rgb(255, 255, 0);
    }
    25% {
      color: rgb(255, 100, 0);
      text-shadow: 10px 10px 20px rgba(238, 255, 0, 0.15);
    }
    50% {
      color: rgb(255, 0, 0);
      text-shadow: 10px 10px 20px rgba(229, 255, 0, 0.1);
    }
    75% {
      color: rgb(255, 100, 0);
      text-shadow: 10px 10px 20px rgba(234, 255, 0, 0.05);
    }
    100% {
      color: rgb(255, 255, 0);
    }
  }
  @keyframes pulse {
    0% {
      /* transform: scale(1); */
      box-shadow: 0 0 0 0 rgba(254, 93, 82, 0.7);
    }
    50% {
      /* transform: scale(1.05); */
      box-shadow: 0 0 0 10px rgba(255, 184, 184, 0);
    }
    100% {
      /* transform: scale(1); */
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
  }
  @keyframes pulse-two {
    0% {
      /* transform: scale(1); */
      box-shadow: 0 0 0 0 rgba(82, 254, 82, 0.2);
    }
    50% {
      /* transform: scale(1.05); */
      box-shadow: 0 0 0 8px rgba(255, 184, 184, 0);
    }
    100% {
      /* transform: scale(1); */
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
  }
  .pulse-class {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    animation: pulse 1s linear;
    animation-fill-mode: forwards;
  }
  .pulse-two-class {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    animation: pulse-two 1s linear;
    animation-fill-mode: forwards;
  }
  .fade-in-out {
      transition: opacity 0.15s ease-in, transform 0.15s ease, font-size 0.15s ease, color .15s ease;
    }
  
    .fade-in-out.hidden2 {
      opacity: .75;
      font-size: .93rem !important;
    }
    .fade-in-out.increase {
      animation: increase 0.25s linear;
      color: rgb(255, 255, 0);
      animation-fill-mode: forwards;
    }
    .fade-in-out.decrease {
      animation: decrease 0.25s linear;
      color: rgb(255, 255, 0);
      animation-fill-mode: forwards;
    }
  
  
  
     /* Win display styles */
     #winsDisplay {
     background-color: #2d53374d;
      border: none;
      box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.327), 2px 2px 1px 1px rgba(0, 0, 0, 0.37);
      border-radius: 10%;
      margin: 10px 20px; /* Adjusted margin for spacing */
      max-width: 100%; /* Full width */
      padding: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Soft shadow */
      height: 60px; /* Adjusted height */
      overflow: hidden; /* Hide overflow if content exceeds height */
      display: flex;
      justify-content: space-around;
      align-items: center;
      user-select: none;
    }
  
    .win-item {
      display: flex;
      align-items: center;
    }
  
    .win-text {
      font-size: .99rem;
      margin-right: 5px;
      outline: none;
    }
  
    .win-multiplier {
      position: absolute;
      display: flex;
      justify-content: center;
      align-content: center;
      top: 50%;
      right: 50%;
      bottom: 50%;
      left: 50%;
      scale: 1;
      font-size: .95rem;
      font-weight: 700;
      opacity: .75;
      scale: 1;
      animation: multiplier-animation 5s ease infinite;
      animation-fill-mode: forwards;
    }
    @keyframes multiplier-animation {
      0% {
        scale: 1;
        opacity: .5;
        color: rgb(192, 255, 203) ;
      } 
      25% {
        scale: 1.35;
        opacity: 1;
        color: rgb(0, 255, 0) ;
      }
      50% {
        scale: 1;
        opacity: .5;
        color: rgb(192, 255, 203);
      }
      75% {
        scale: .95;
        opacity: .25;
        color: rgb(152, 255, 169) ;
      }
      100% {
        scale: 1;
        opacity: .5;
        color: rgb(192, 255, 203);
      }
  
    }
    .lights {
      display: flex;
      justify-content: flex-start; /* Align lights to the left */
    }
  
    .numbered-board.active {
      animation: winner .2s infinite;
    }
  
    @keyframes winner {
      0% {
        box-shadow:inset 2px 2px 4px rgba(251, 251, 251, 0.2);
        border: 1.25px solid white;
      }
      25% {
        box-shadow: inset 2px 4px 8px rgba(185, 255, 203, 0.3);
        border: 1.25px solid white;
      }
      50% {
        box-shadow: inset 2px 8px 16px rgba(175, 255, 182, 0.4);
        border: 1.25px solid white;
      }
      75% {
        box-shadow: inset 2px 4px 8px rgba(185, 255, 203, 0.3);
        border: 1.25px solid white;
      }
      100% {
        box-shadow: inset 2px 2px 4px rgba(255, 255, 255, 0.2);
        border: 1.25px solid white;
      }
    }
    .light {
      color: #000000;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: #006400;
      margin: 0 2px;
      font-size: 1rem;
      font-weight: 700;
      font-family: monospace;
      padding: 10px;
      letter-spacing: -1.5px;
    }
  .placed {
    transform: translateX(-50%);
    animation: drop .33s ease-out forwards;
    scale: .8;
  }
    .light.on {
      background-color: rgba(255, 255, 0, 0.5); /* Yellowish light on color */
      color: #333; /* Dark text color */
    }
    .streaks {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 5px;
    }
    .parity-streaks {
      background-color:rgba(94, 255, 94, 0.2);
    }
    /* #number-streaks {
      background-color: rgb(0, 100, 0) ;
  
    }
    .number-streaks {
      border-radius: 5px;
    } */

  .color-streaks {
    background-color:rgba(94, 255, 94, 0.2);
  }
  
  
  .chip-0_1 {
    background: #ffcccb; /* Light pink */
  }
  
  .chip-0_25 {
    background: #add8e6; /* Light blue */
  }
  
  .chip-0_5 {
    background: #90ee90; /* Light green */
  }
  
  .chip-1 {
    background: #ffa500; /* Orange */
  }
  
  
  .chip-default {
    background: linear-gradient(45deg, rgba(11, 75, 69, 1), rgba(255, 255, 255, 1));
  }
  #history-display {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    width: 300px;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(0, 255, 89);
    background-color: #008f1f;
    color: black;
    overflow-x: scroll;
  }
  #history-display.hidden {
    display: none;
  }
  #even-board {
    font-family: roboto;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    font-weight: 700;
    font-size: 1.75rem;
    border-radius: 10px 10px 50px 10px;
    color: rgb(214, 246, 215);
    display: flex;
    align-items: center;
    justify-content: center;
  
  }
  #even-board::before {
    content: "EVEN";
  }
  #odd-board {
    font-family: roboto;
    color: rgb(214, 246, 215);
    font-size: 1.75rem;
    font-weight: 700;
    border-radius: 10px 10px 10px 50px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #odd-board::before {
    content: "ODD";

  }
  #black-board {
    border-radius: 10px 50px 10px 10px;
    font-family: cursive;
  }
  #black-board::before {
    content: "\20BF";
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    width: 90%;
    height: 90%;
    position: absolute;
    background: linear-gradient(to bottom right, rgba(75, 75, 75, 0.99) 10%, rgba(0, 0, 0, 0.99) 90%);
    box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.1);
    inset: 5%; /* Adjusted for better centering */
    border-radius: 10px 50px 10px 10px;
  }
  
  #red-board {
    border-radius: 50px 10px 10px 10px;
    font-family: cursive;
  }
  #red-board::before {
    content: "\20BF";
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    font-size: 2rem;
    width: 90%;
    height: 90%;
    position: absolute;
    background: linear-gradient(to bottom right, rgba(255, 75, 75, 0.9) 10%, rgba(255, 0, 0, 0.85) 90%);
    box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.1);
    inset: 5%; /* Adjusted for better centering */
    border-radius: 50px 10px 10px 10px;
  }
  
  @keyframes rolling {
    0% {
      background: rgba(255, 255, 0, 0.476);
    }
    50% {
      background: rgba(255, 255, 162, 0.599);
    }
    100% {
      background: rgba(255, 255, 0, 0.476);
    }
  }
  
  @keyframes blink {
    0% {
      background-color: rgb(255, 255, 255);
    }
    50% {
      background-color: rgb(26, 255, 0);
    }
    100% {
      background-color: rgb(255, 255, 255);
    }
  }
  
  